@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (User.IsInRole("Candidate"))
            {
                <a href="/Candidate/ShowOwnProfile" class="active">@User.Identity.GetUserName()</a>
            }
            else if (User.IsInRole("Employer"))
            {
                <a href="/Employer/ShowOwnProfile" class="active">@User.Identity.GetUserName()</a>
            }
            else
            {
                <a class="active">@User.Identity.GetUserName()</a>
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Deconecteaza-ma</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Creeaza cont", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Intra in cont", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
