@model InstantAngaj.Models.RegisterViewModel
@{
    ViewBag.Title = "Creare cont";
}

<script>
    function changeUserType(selectTag) {
        if (selectTag.value === "candidate") {
            document.getElementById("UserCandidateForm").style.display = "block";
            document.getElementById("UserEmployerForm").style.display = "none";
        }
        else if (selectTag.value === "employer") {
            document.getElementById("UserCandidateForm").style.display = "none";
            document.getElementById("UserEmployerForm").style.display = "block";

            document.getElementById("CityId").value = 1;
            document.getElementById("DomainId").value = 1;
            document.getElementById("DegreeId").value = 1;
        }
        else {
            console.log("An error has occured while attempting to get the value of UserType select")
        }
    }
</script>

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h5>Completeaza datele de mai jos</h5>
    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserType, new { @class = "col-md-12" })
            <div class="col-md-12">
                <select name="UserType" class="form-control" onchange="changeUserType(this)">
                    <option value="candidate">Candidat</option>
                    <option value="employer">Angajator</option>
                </select>
            </div>
        </div>
    </div>
    <div id="UserCandidateForm" class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CityId, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.AllCities, "Value", "Text"), "Selectati orasul", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DomainId, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(m => m.DomainId, new SelectList(ViewBag.AllDomains, "Value", "Text"), "Selectati domeniul", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DegreeId, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.DropDownListFor(m => m.DegreeId, new SelectList(ViewBag.AllDegrees, "Value", "Text"), "Selectati competenta", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div id="UserEmployerForm" class="col-md-6" style="display: none;">
        <div class="form-group">
            @Html.LabelFor(m => m.EmployerName, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.EmployerName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EmployerDescription, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextAreaFor(m => m.EmployerDescription, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <br />
        <br />
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div class="col-lg-offset-3 col-md-4">
                <input type="submit" class="btn btn-primary btn-block" value="Creeaza" />
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
